{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="{% static 'style.css'%}">
    </head>    
    <body>
     
       
        <h2>{{Book.title}}</h2>
        
      
    </body>
    
</html>