<!DOCTYPE html>
<html>
    <head>
        <title>Registrace</title>
    </head>
    <body>
        <h1>Registrace</h1>

        <p> {{ message }} </p>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label>Jméno:</label>
            <input type="text" name="jmeno"/>
        </div>
        <div>
            <label>Heslo:</label>
            <input type="password" name="heslo"/>
        </div>
        <input type="submit" value="Registrace">
    
    </form>
    </body>





</html>