{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="{% static 'style.css'%}">
    </head>    
    <body>
        <h1>Test</h1>
        <h2>Jedna</h2>
        <a href = "http://127.0.0.1:8000/">Test</a>
        <a href = "http://127.0.0.1:8000/Test2/">Test2</a>
        <a href = "http://127.0.0.1:8000/Test3/">Test3</a>
    </body>
    
</html>